<div class="container">
    <app-authors-list (authorSelected)="onSelectAuthor($event)"></app-authors-list>
    <div class="row " *ngIf="idAuthor">
      <div class="col-md-6"></div>
      <div class="col-md-3">
        <button class="btn btn-lg btn-outline-primary" (click)="sortItems()">Sort by date</button>
      </div>
      <div class="col-md-3">
          <button class="btn btn-lg btn-outline-primary" (click)="open(contentPulications)">Add Publication</button>
      </div>
    </div>
    <div class="row">
      <div class="alert alert-primary" role="alert" *ngIf="idAuthor && !publications.length">
        This author does not have any publication!
      </div>
        <div class="card" *ngFor="let item of publications">
            <div class="card-header">
              {{item.created}}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.body}}</p>
              <a class="btn btn-danger" (click)="delete(item)">Delete</a>
            </div>
          </div>
    </div>
    <div class="row " *ngIf="idAuthor">
      <div class="col-md-9"></div>
      <div class="col-md-3">
          <label>Total {{count}}</label>
      </div>
    </div>
</div>
<ng-template #contentPulications let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Author</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="publicationForm" (ngSubmit)="save()" ngNativeValidate>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                  <label for="name">Title</label>
                  <input type="text" name="title" formControlName="title" class="form-control" required/>
                </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                  <label for="name">Body</label>
                  <textarea name="body" formControlName="body" class="form-control" required ></textarea>
                </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                  <label for="name">Date</label>
                  <input type="date" name="date" formControlName="created" class="form-control" required/>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark">Save</button>
      </div>
  </form>
</ng-template>